 <div style="background-color:#D4DFE6">
    {{systime}}&nbsp;&nbsp;&nbsp;
    {{loginUserVO.deptName}}&nbsp;&nbsp;&nbsp;
    {{loginUserVO.userName}}&nbsp;&nbsp;{{loginUserVO.userId}}&nbsp;&nbsp;&nbsp;
    {{loginUserVO.postName}}&nbsp;&nbsp;&nbsp;
    <button pButton label="登出" (click)="logout()"></button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a target="_blank" href="https://docs.google.com/document/d/1JE0MSkMzA7x7kwV29rbPAA1FHx1hI210jRYLx2ZxZFE/edit?usp=sharing">通訊錄管理系統問題反應</a>
</div>