<p>
  使用者帳號：{{this.dataService.getUserToken().id}} &nbsp;&nbsp;&nbsp;姓名：{{userToken.name}}

</p>
<pre>
#-----示範單向綁定，中括號[]綁定屬性,小括號()綁定事件
<input type="text" [value]="txtVal">&nbsp;&nbsp;<button (click)="showValue()">顯示值</button>
<br>
<input type="text" value="{{txtVal}}">
#-----------------------
</pre>
<br>
示範雙向綁定<input type="text" [(ngModel)]="towWayBingTxt">{{towWayBingTxt}}
<br>
<br>
<button (click)="updateHero()">測試JSON資料送server</button>
<br>
<el-button type="primary">Element Button</el-button>
<br>
帶圖示的輸入框
<el-input placeholder="請挑選xxx"
  icon="search" 
  [model]="txtVal" (icon-click)="iconClick()" >
</el-input>
<br>
<el-menu [model]="0" (modelChange)="menuClick($event)" class="el-menu-demo" mode="horizontal"
  background-color="#545c64"
  active-text-color="#ffd04b"
  text-color="#fff">
  <el-menu-item index="1">首頁</el-menu-item>
  <el-submenu index="2" title="常用作業">
    <el-menu-item index="2-1">作業1</el-menu-item>
    <el-menu-item index="2-2">作業2</el-menu-item>
    <el-menu-item index="2-3">作業3</el-menu-item>
  </el-submenu>
  <el-menu-item index="3"><a href="https://github.com/eleme/element-angular" target="_blank">GITHUB</a></el-menu-item>
</el-menu>

