<p-panel>
    <p-header >
        <button  pButton label="查詢" (click)="query()"></button>
        訊息：{{msg_qry}}
    </p-header>
    <h4>
        <div class="myBox">
        職工編號：<app-user-picker [(value)]="contactVO_qry.empNo" ></app-user-picker>
        分機：<input type="text" pInputText [(ngModel)]="contactVO_qry.phone" />
        手機：<input type="text" pInputText [(ngModel)]="contactVO_qry.cellPhone"/>
        直播碼：<input type="text" pInputText [(ngModel)]="contactVO_qry.directNo"/>
        </div>
        <div class="myBox" >
            
        Email：<input type="text" pInputText [(ngModel)]="contactVO_qry.contactEmail" />
        備用Email：<input type="text" pInputText [(ngModel)]="contactVO_qry.contactEmail2" />
        </div>
        <div class="myBox">
        Line：<input type="text" pInputText [(ngModel)]="contactVO_qry.line"/>
        Skype：<input type="text" pInputText [(ngModel)]="contactVO_qry.skype"/>
        臉書：<input type="text" pInputText [(ngModel)]="contactVO_qry.facebook"/>
        位置：<input type="text" pInputText [(ngModel)]="contactVO_qry.location"/>
        </div>
        <p-paginator [rows]="rows" [totalRecords]="totalRecords"   (onPageChange)="paginate($event)"></p-paginator>
    </h4>
      <table style="border-collapse: collapse; width: 100%;border:1px solid black" cellpadding="5" >
        <tr class="myTr" >
          <th >職工編號</th>
          <th >姓名</th>
          <th>分機</th>
          <th >手機</th>
          <th >直播碼</th>
          <th >Email</th>
          <th >備用Email</th>
          <th >Line</th>
          <th >Skype</th>
          <th >臉書</th>
          <th >位置</th>
          <th >新增人員</th>
          <th >新增日期</th>
          <th >修改人員</th>
          <th >修改日期</th>
        </tr>
        <tr *ngFor="let contactVO of contactVOs" (click)="copyToEdit(contactVO)" style="cursor: pointer;" class="myTr">
            <td >{{contactVO.empNo}}</td>
            <td >{{contactVO.empName}}</td>
            <td >{{contactVO.phone}}</td>
            <td >{{contactVO.cellPhone}}</td>
            <td >{{contactVO.directNo}}</td>
            <td >{{contactVO.contactEmail}}</td>
            <td >{{contactVO.contactEmail2}}</td>
            <td >{{contactVO.line}}</td>
            <td >{{contactVO.skype}}</td>
            <td >{{contactVO.facebook}}</td>
            <td >{{contactVO.location}}</td>
            <td >{{contactVO.createUser}}</td>
            <td >{{contactVO.createDate|date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td >{{contactVO.updateUser}}</td>
            <td >{{contactVO.updateDate|date:'yyyy-MM-dd HH:mm:ss'}}</td>
        </tr>
      </table>
    
</p-panel>
<p-panel >
  <p-header >
      <button  pButton label="新增" (click)="create()" [disabled]="createBtnDisable"></button>&nbsp;
      <button  pButton label="修改" (click)="update()" [disabled]="updateBtnDisable"></button>&nbsp;
      <button  pButton label="刪除" (click)="delete()" [disabled]="deleteBtnDisable"></button>&nbsp;
     訊息：{{msg}}
  </p-header>
    <h4>
    <div class="myBox">
      職工編號：<app-user-picker [(value)]="contactVO.empNo"></app-user-picker>
      分機：<input type="text" pInputText [(ngModel)]="contactVO.phone"/>
      手機：<input type="text" pInputText [(ngModel)]="contactVO.cellPhone"/>
      直播碼：<input type="text" pInputText [(ngModel)]="contactVO.directNo"/>
    </div>
    <div class="myBox">
      Email：<input type="text" pInputText [(ngModel)]="contactVO.contactEmail" style="width:30%"/>
      備用Email：<input type="text" pInputText [(ngModel)]="contactVO.contactEmail2" style="width:30%"/>
    </div>
    <div class="myBox">
      Line：<input type="text" pInputText [(ngModel)]="contactVO.line"/>
      Skype：<input type="text" pInputText [(ngModel)]="contactVO.skype"/>
      臉書：<input type="text" pInputText [(ngModel)]="contactVO.facebook"/>
      位置：<input type="text" pInputText [(ngModel)]="contactVO.location"/>
    </div>
    <div class="myBox">
      新增人員：{{contactVO.createUser}}
      新增日期：{{contactVO.createDate|date:'yyyy-MM-dd HH:mm:ss'}}
      修改人員：{{contactVO.updateUser}}
      修改日期：{{contactVO.updateDate|date:'yyyy-MM-dd HH:mm:ss'}}
    </div>
  </h4>
</p-panel>