<p-panel>
    <p-header >
      <table width="100%"  cellpadding="1" cellspacing="1">
        <tr>
            <td><button  pButton label="查詢" (click)="query(0)"></button></td>
            <td class="myLabel" width="10%">訊息</td>
            <td width="40%"><font style="color: red">{{msg_qry}}</font></td>
        </tr>
      </table>
    </p-header>
    
        <table width="100%"  cellpadding="1" cellspacing="1">
          <tr>
            <td class="myLabel">職工編號</td>
            <td><app-user-picker [(value)]="contactVO_qry.empNo" ></app-user-picker></td>
            <td class="myLabel">分機</td>
            <td><input type="text" pInputText [(ngModel)]="contactVO_qry.phone" /></td>
            <td class="myLabel">手機</td>
            <td><input type="text" pInputText [(ngModel)]="contactVO_qry.cellPhone"/></td>
          </tr>
          <tr>
            <td class="myLabel">直播碼</td>
            <td><input type="text" pInputText [(ngModel)]="contactVO_qry.directNo"/></td>
            <td class="myLabel">Email</td>
            <td><input type="text" pInputText [(ngModel)]="contactVO_qry.contactEmail" /></td>
            <td class="myLabel">備用Email</td>
            <td><input type="text" pInputText [(ngModel)]="contactVO_qry.contactEmail2" /></td>
          </tr>
          <tr>
              <td class="myLabel"> Line</td>
              <td><input type="text" pInputText [(ngModel)]="contactVO_qry.line"/></td>
              <td class="myLabel">Skype</td>
              <td><input type="text" pInputText [(ngModel)]="contactVO_qry.skype"/></td>
              <td class="myLabel"> 臉書</td>
              <td><input type="text" pInputText [(ngModel)]="contactVO_qry.facebook"/></td>
            </tr>
            <tr>
              <td class="myLabel">位置</td>
               <td><input type="text" pInputText [(ngModel)]="contactVO_qry.location"/></td>
            </tr>                                    
        </table>
        <p-paginator #paginator [rows]="rowsPerPage" [(first)]="firstRowIndex" [totalRecords]="totalRecords" (onPageChange)="queryByPage($event)"></p-paginator>
    
      <table width="100%"  cellpadding="5" cellspacing="1">
        <tr  style="background-color: #f7f7f7">
          <th class="myLabel">職工編號</th>
          <th class="myLabel">姓名</th>
          <th class="myLabel">分機</th>
          <th class="myLabel">手機</th>
          <th class="myLabel">直播碼</th>
          <th class="myLabel">Email</th>
          <th class="myLabel">備用Email</th>
          <th class="myLabel">Line</th>
          <th class="myLabel">Skype</th>
          <th class="myLabel">臉書</th>
          <th class="myLabel">位置</th>
          <th class="myLabel">新增人員</th>
          <th class="myLabel">新增日期</th>
          <th class="myLabel">修改人員</th>
          <th class="myLabel">修改日期</th>
        </tr>
        <tr *ngFor="let contactVO of contactVOs" (click)="copyToEdit($event, contactVO)" style="cursor: pointer;" class="myTr" >
            <td >{{contactVO.empNo}}</td>
            <td >{{contactVO.empName}}</td>
            <td >{{contactVO.phone}}</td>
            <td >{{contactVO.cellPhone}}</td>
            <td >{{contactVO.directNo}}</td>
            <td >{{contactVO.contactEmail}}</td>
            <td >{{contactVO.contactEmail2}}</td>
            <td >{{contactVO.line}}</td>
            <td >{{contactVO.skype}}</td>
            <td >{{contactVO.facebook}}</td>
            <td >{{contactVO.location}}</td>
            <td >{{contactVO.createUserName}}</td>
            <td >{{contactVO.createDate}}</td>
            <td >{{contactVO.updateUserName}}</td>
            <td >{{contactVO.updateDate}}</td>
        </tr>
      </table>
    
</p-panel>
<p-panel >
  <p-header >
     <table width="100%"  cellpadding="1" cellspacing="1">
        <tr>
            <td>
              <button  pButton label="新增" (click)="create()" ></button>&nbsp;
              <button  pButton label="修改" (click)="update()" ></button>&nbsp;
              <button  pButton label="刪除" (click)="delete()" ></button>&nbsp;
            </td>
            <td class="myLabel" width="10%"><font style="color: white">訊息</font></td>
            <td width="40%"><font style="color: red">{{msg}}</font></td>
        </tr>
      </table>
  </p-header>
      <table width="100%"  cellpadding="1" cellspacing="1">
        <tr>
          <td class="myLabel">職工編號：</td>
          <td ><app-user-picker [(value)]="contactVO.empNo"></app-user-picker><font color="red">*</font></td>
          <td class="myLabel">分機：</td>
          <td><input type="text" pInputText [(ngModel)]="contactVO.phone"/></td>
          <td class="myLabel"> 手機：</td>
          <td><input type="text" pInputText [(ngModel)]="contactVO.cellPhone"/></td>
        </tr>
        <tr>
          <td  class="myLabel">直播碼：</td>
          <td><input type="text" pInputText [(ngModel)]="contactVO.directNo"/></td>
          <td  class="myLabel">Email：</td>
          <td><input type="text" pInputText [(ngModel)]="contactVO.contactEmail" /></td>
          <td  class="myLabel">備用Email：</td>
          <td><input type="text" pInputText [(ngModel)]="contactVO.contactEmail2" /></td>          
        </tr>
        <tr>
            <td  class="myLabel"> Line：</td>
            <td><input type="text" pInputText [(ngModel)]="contactVO.line"/></td>
            <td  class="myLabel">Skype：</td>
            <td><input type="text" pInputText [(ngModel)]="contactVO.skype"/></td>
            <td  class="myLabel">臉書：</td>
            <td><input type="text" pInputText [(ngModel)]="contactVO.facebook"/></td>            
        </tr>
        <tr>
            <td  class="myLabel">位置：</td>
            <td><input type="text" pInputText [(ngModel)]="contactVO.location"/></td>
        </tr>
        <tr>
            <td  class="myLabel">新增人員：</td>
            <td >{{contactVO.createUserName}}</td>
            <td  class="myLabel">新增日期：</td>
            <td >{{contactVO.createDate}}</td>
        </tr>
        <tr>
            <td  class="myLabel">修改人員：</td>
            <td >{{contactVO.updateUserName}}</td>
            <td  class="myLabel">修改日期：</td>
            <td >{{contactVO.updateDate}}</td>           
        </tr>                      
      </table>
</p-panel>