<p-panel>
	<p-header >
		<button  pButton label="匯出" (click)="export()" ></button>&nbsp;
		訊息：{{msg}}
	</p-header>
<p-table [value]="empVOs" autoLayout="true">
	<ng-template pTemplate="header">
		<tr>
			<th>單位</th>
			<th>職稱</th>
			<th>姓名</th>
			<th>職工編號</th>
			<th>分機</th>
			<th>直播碼</th>
			<th>電子郵件</th>
		</tr>
	</ng-template>
	<ng-template pTemplate="body" let-empVO>
	 	<tr>
			<td>{{empVO.depNo}}</td>
			<td>{{empVO.postName}}</td>
			<td>{{empVO.chiName}}</td>
			<td>{{empVO.empNo}}</td>
			<td>{{empVO.phone}}</td>
			<td>{{empVO.directNo}}</td>
			<td>{{empVO.email}}</td>
		</tr>
	</ng-template>
</p-table>
</p-panel>