<p-panel  >
    <p-header >
        <button  pButton label="查詢" (click)="fuzzyQry()"></button>
        訊息：{{msg_qry}}
    </p-header>
    <div class="myPaddingBottom">
        資產編號：<input type="text" pInputText [(ngModel)]="assetVO_qry.assetId"  />
        資產種類代碼：<select [(ngModel)]="assetVO_qry.assetTypeId" class="mySelect">
                        <option value="">請選擇</option>
                        <option *ngFor="let assetType of assetTypeVOs" [value]="assetType.assetTypeId">{{assetType.assetTypeName}}</option>
                    </select>
        保管人：<app-user-picker [(value)]="assetVO_qry.keeper"></app-user-picker>
      </div>
      <div class="myPaddingBottom">
      成本：<input type="text"  pInputText [(ngModel)]="assetVO_qry.cost" />~<input type="text"  pInputText [(ngModel)]="assetVO_qry.costE" />
      採購案號：<input type="text" pInputText [(ngModel)]="assetVO_qry.buyContractNo"/>
      備註：<input type="text" pInputText [(ngModel)]="assetVO_qry.remark"/>
    </div>
    <p-table [value]="assetVOs" autoLayout="true">
        <ng-template pTemplate="header">
          <tr>
            <th>資產編號</th>
            <th>資產種類代碼</th>
            <th>保管人</th>
            <th>成本</th>
            <th>採購案號</th>
            <th>備註</th>
            <th>新增人員</th>
            <th>新增日期</th>
            <th>修改人員</th>
            <th>修改日期</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-assetVO >
           <tr  (click)="copyToEdit(assetVO)" style="cursor: pointer;">
            <td>{{assetVO.assetId}}</td>
            <td>{{assetVO.assetTypeId}}</td>
            <td>{{assetVO.keeper}}</td>
            <td>{{assetVO.cost}}</td>
            <td>{{assetVO.buyContractNo}}</td>
            <td>{{assetVO.remark}}</td>
            <td>{{assetVO.createUser}}</td>
            <td>{{assetVO.createDate|date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td>{{assetVO.updateUser}}</td>
            <td>{{assetVO.updateDate|date:'yyyy-MM-dd HH:mm:ss'}}</td>
          </tr>
        </ng-template>
      </p-table>
</p-panel>
<p-tabView (onChange)="showA($event)">
  <p-tabPanel header="資產基本資料">
<p-panel  >
  <p-header >
     <button  pButton label="新增" (click)="create()"></button>&nbsp;
     <button  pButton label="修改" (click)="update()"></button>&nbsp;
     <button  pButton label="刪除" (click)="del()"></button>&nbsp;
     訊息：{{msg}}
  </p-header>
  <h4>
        <div class="myPaddingBottom">
          資產編號：<input type="text" pInputText [(ngModel)]="assetVO.assetId"  /><b style="color: red">*</b>
          資產種類代碼：<select [(ngModel)]="assetVO.assetTypeId" class="mySelect">
                          <option value="">請選擇</option>
                          <option *ngFor="let assetType of assetTypeVOs" [value]="assetType.assetTypeId">{{assetType.assetTypeName}}</option>
                      </select><b style="color: red">*</b>
          保管人：<app-user-picker [(value)]="assetVO.keeper"></app-user-picker>
                 <b style="color: red">*</b>
        </div>
        <div >
        成本：<input type="text"  pInputText [(ngModel)]="assetVO.cost" />&nbsp;&nbsp;
        採購案號：<input type="text" pInputText [(ngModel)]="assetVO.buyContractNo"/>
        備註：<input type="text" pInputText [(ngModel)]="assetVO.remark"/>
        </div>
      
  </h4> 
</p-panel>
</p-tabPanel>
 <p-tabPanel header="資產屬性關係內容" >
    <app-asset-atr-val [assetId]="assetVO.assetId"></app-asset-atr-val>
</p-tabPanel>
<p-tabPanel header="資產配件">
  功能建置中
</p-tabPanel>
</p-tabView>