<p-panel  >
  <p-header >
     <button  pButton label="新增" (click)="create()"></button>&nbsp;
     <button  pButton label="修改" (click)="update()"></button>&nbsp;
     <button  pButton label="刪除" (click)="del()"></button>&nbsp;
     訊息：{{msg}}
  </p-header>
  <h4>
      <div class="myBox">
          資產編號：<input type="text" pInputText [(ngModel)]="assetVO.assetId"  /><b style="color: red">*</b>
          資產種類代碼：<select [(ngModel)]="assetVO.assetTypeId" class="mySelect">
                          <option value="">請選擇</option>
                          <option *ngFor="let assetType of assetTypeVOs" [value]="assetType.assetTypeId">{{assetType.assetTypeName}}</option>
                      </select><b style="color: red">*</b>
          
         <div class="ui-inputgroup" style="padding-top: 5px">       
                保管人：<input type="text" pInputText [(ngModel)]="assetVO.keeper"/>
                <button pButton type="button" icon="pi pi-user" (click)="showUserPicker()"></button>
                <b style="color: red">*</b>
                
                <app-user-picker [show]="show" (pick)="onPick($event)" ></app-user-picker>
          </div>
          
      </div>
      <div class="myBox">
        成本：<input type="text"  pInputText [(ngModel)]="assetVO.cost" />&nbsp;&nbsp;
        採購案號：<input type="text" pInputText [(ngModel)]="assetVO.buyContractNo"/>
        備註：<input type="text" pInputText [(ngModel)]="assetVO.remark"/>
      </div>
      
  </h4>
   
</p-panel>

