<input type="text" pInputText [(ngModel)]="value"/>
<button pButton type="button" icon="pi pi-user" (click)="showUserPicker()"></button>
<p-dialog header="使用者挑選" [(visible)]="visible"   [responsive]="true" 
        [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [maximizable]="true" 
        [baseZIndex]="10000" >
    <select multiple  [(ngModel)]="selectValue">
        <option value="A"  (click)="pick()">A君</option>
        <option value="B"  (click)="pick()">B君</option>
    </select>
</p-dialog>